@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/exo-2-v20-cyrillic-300.woff2") format("woff2"),
    url("../fonts/exo-2-v20-cyrillic-300.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo-2-v20-cyrillic-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/exo-2-v20-cyrillic-500.woff2") format("woff2"),
    url("../fonts/exo-2-v20-cyrillic-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/exo-2-v20-cyrillic-600.woff2") format("woff2"),
    url("../fonts/exo-2-v20-cyrillic-600.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/exo-2-v20-cyrillic-700.woff2") format("woff2"),
    url("../fonts/exo-2-v20-cyrillic-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/exo-2-v20-cyrillic-800.woff2") format("woff2"),
    url("../fonts/exo-2-v20-cyrillic-800.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/exo-2-v20-cyrillic-900.woff2") format("woff2"),
    url("../fonts/exo-2-v20-cyrillic-900.woff") format("woff");
}
