body.modal-open {
  overflow: hidden;
}

#modal-overlay {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  /* Задаем начальное значение стиля */
  display: none;
}

#modal-overlay.visible {
  pointer-events: auto;
  /* Изменяем значение свойства display */
  display: block;
  overflow-y: auto;
  width: 100%;
  z-index: 150;
}

#modal-dialog {
  position: relative;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transform: translateY(-50%) translateX(-50%) scale(0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 50px 50px;
  border-radius: 12px;

  /* Задаем начальное значение стиля */
  opacity: 0;
  pointer-events: none;

  @include r(560) {
    padding: 15px;
  }
}

#modal-dialog.visible {
  transform: translateY(-50%) translateX(-50%) scale(1);
  /* Изменяем значение свойства opacity и pointer-events */
  opacity: 1;
  pointer-events: auto;

  @include r(560) {
    width: 100%;
  }
}

#modal-close {
  margin-top: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-50%) translateX(-50%) scale(0.7);
  }
  to {
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}

.form {
  label {
    margin-bottom: 5px;
    font-size: 28px;

    @include r(560) {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }

  .form-check-input[type="checkbox"] {
    border-radius: 6px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid rgb(47, 128, 237);
  }

  .form-check-label {
    cursor: pointer;
  }
}

#result {
  font-weight: 500;
  margin-top: 20px;
  font-size: 24px;
  color: rgb(47, 128, 237);
  height: 60px;

  @include r(560) {
    margin-top: 5px;
    font-size: 16px;
    height: 25px;
  }
}

.modal-close {
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: transparent;
  font-size: 48px;
  border: none;
  color: rgb(47, 128, 237);

  &:hover {
    background-color: transparent;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;

  @include r(560) {
    max-width: 200px;
    font-size: 18px;
  }
}

.modal__btn {
  margin-top: 25px;

  @include r(560) {
    margin-top: 10px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// @-webkit-keyframes rotating {
//   from {
//     -webkit-transform: rotate(0deg);
//   }
//   to {
//     -webkit-transform: rotate(360deg);
//   }
// }

// #preloader {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   width: 48px;
//   height: 48px;
//   margin-left: -24px;
//   margin-top: -24px;
//   border: #31a9df 3px solid;
//   border-left-color: transparent;
//   border-radius: 50%;
//   -webkit-animation: rotating 1s linear infinite;
// }

.form-wrapper {
  display: flex;
  align-items: center;

  label {
    font-size: 22px;
  }
}
