.stages {
  padding: 90px 0;
  background-color: #f0f3f6;

  &__title {
    margin: 0 auto 30px;
    max-width: 650px;
    text-align: center;
  }
  &__descr {
    margin: 0 auto 30px;
    max-width: 620px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    padding: 32px 15px;
    display: flex;
    max-width: 638px;
    background: #ffffff;
    border-radius: 20px;
  }

  &__item-num {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: #ffffff;
    background-color: #041423;
    border-radius: 500px;
    font-weight: 700;
    font-size: 24px;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
  }

  &__descr {
    font-size: 15px;
    line-height: 130%;
  }

  &__item-img {
    margin-right: 25px;
    display: block;
    width: 305px;
    height: 242px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  &__item-img--01 {
    background-image: url("../images/states-1.png");
  }
  &__item-img--02 {
    background-image: url("../images/states-2.png");
  }
  &__item-img--03 {
    background-image: url("../images/states-3.png");
  }
  &__item-img--04 {
    background-image: url("../images/states-4.png");
  }
  &__item-img--05 {
    background-image: url("../images/states-5.png");
  }
  &__item-img--06 {
    background-image: url("../images/states-6.png");
  }
  &__item-img--07 {
    background-image: url("../images/states-7.png");
  }
  &__item-img--08 {
    background-image: url("../images/states-8.png");
  }
  &__item-img--09 {
    background-image: url("../images/states-9.png");
  }
  &__item-img--10 {
    background-image: url("../images/states-10.png");
  }
}

@media screen and (max-width: 1200px) {
  .stages {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  .stages {
    padding: 60px 0;
  }
  .stages__title {
    max-width: 90%;
  }
  .stages__list {
    flex-direction: column;
  }
  .stages__item {
    max-width: 100%;
    flex-direction: column;
  }
  .stages__item-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .stages__item-num {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 576px) {
  .stages {
    padding: 40px 0;
  }
  .stages__item-num {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
  .stages__item-title {
    font-size: 18px;
  }
  .stages__descr {
    font-size: 14px;
  }

  .stages__item-img {
    width: 100%;
  }
}
