.header {
  padding: 40px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__btn {
    padding: 12px 20px;
    background-color: #ffffff;
    border: 2px solid #2f80ed;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;

    @include r(1024) {
      display: none;
    }

    @include r(1200) {
      padding: 10px 15px;
      font-size: 16px;
    }

    @include r(544) {
      display: block;
      margin-top: 20px;
    }

    &:hover {
      background-color: #2f80ed;
      color: #fff;
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 35px;

    @include r(1024) {
      display: none;
    }
  }
}

.phone {
  @include r(1024) {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  @include r(768) {
    display: block;
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 20px;
    @include r(1200) {
      font-size: 16px;
    }
  }

  &__btn {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    color: #2f80ed;
  }
}

.logo {
  @include r(1200) {
    max-width: 150px;
  }
}
