<section id="company" class="company">
  <h2 class="sr-only">Качественный бетон, доступные цены за м3, доставка в день
    обращения</h2>
  <div class="container company__container">

    <div class="company__wrapper">

      <div class="company__content">
        <h3 class="company__title title">Компания ABC Окна сегодня</h3>
        <p class="company__content-descr">Является безоговорочным фаворитом в
          отрасли Производства, установки и
          ремонта пластиковых окон в Иванове и Ивановской области.

          Короткая справка о результатах деятельности Компании в Иванове:
        </p>
        <button class="btn-reset btn-site company__btn open-btn">Заказать замер</button>
      </div>

      <ul class="company__list list-reset">

        <li class="company__item">
          <div class="company__item-top">
            <span class="company__item-top-img company__item-top-img--01"></span>
            <span class="company__item-top-num">01</span>
          </div>
          <div class="company__item-box">
            <h4 class="company__item-box-title">9 000 м2 окон в год</h4>
            <p class="company__item-box-descr">по статистике за последние 3 года
              в Иванове, Мы производим и устанавливаем порядка 9 000 м2
              пластиковых окон в квартиры и частные дома ежегодно. Что
              практически
              равно 5 000 окон в штуках.
            </p>
          </div>
        </li>

        <li class="company__item">
          <div class="company__item-top">
            <span class="company__item-top-img company__item-top-img--02"></span>
            <span class="company__item-top-num">02</span>
          </div>
          <div class="company__item-box">
            <h4 class="company__item-box-title">3 000 м2 балконов в год</h4>
            <p class="company__item-box-descr">означает, что ежегодно мы
              устанавливаем практически 1000 балконов!

            </p>
          </div>
        </li>
        <li class="company__item">
          <div class="company__item-top">
            <span class="company__item-top-img company__item-top-img--03"></span>
            <span class="company__item-top-num">03</span>
          </div>
          <div class="company__item-box">
            <h4 class="company__item-box-title">340 компаний</h4>
            <p class="company__item-box-descr">из Иванова работают с нами
              регулярно. Некоторые из них на постоянной основе.

            </p>
          </div>
        </li>
        <li class="company__item">
          <div class="company__item-top">
            <span class="company__item-top-img company__item-top-img--04"></span>
            <span class="company__item-top-num">04</span>
          </div>
          <div class="company__item-box">
            <h4 class="company__item-box-title">74 сотрудника</h4>
            <p class="company__item-box-descr">Сплоченный и результативный
              коллектив главной целью которого является выполнить свою работу,
              превзойдя ожидания Клиента.

            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>
