<section id="director" class="director">
  <h2 class="sr-only">Качественный бетон любых марок с доставкой в Москве и
    Московской области. Выгодное долгосрочное
    сотрудничество на договорной основе</h2>
  <div class="director__container container">
    <div class="director__content">
      <h3 class="director__title title">Написать директору</h3>
      <p class="director__content-descr">Генеральный Директор Компании ABC Окна”
        всегда открыт для предложений и замечаний, Вы можете отправить ему
        письмо нажав Подробнее
      </p>

      <button class="btn-reset btn-site open-btn">Написать директору</button>
    </div>

    <div class="director__images">

      <img class="director__img" src="./images/director.png" alt>

    </div>

  </div>

</section>
