<section id="fabrication-grid" class="fabrication-grid">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="fabrication-grid__container container">
    <h3 class="title fabrication-grid__title">
      Производство пластиковых окон в Иванове
    </h3>

    <div class="angry-grid">
      <div id="item-0">

      </div>
      <div id="item-1">
        <p class="item-1">!</p>
        <p>В Иванове более 450 Компаний которые представляют услуги по установке
          пластиковых окон, из которых не более 30 Компании изготавливают
          пластиковые окна на собственных заводах.
          Это приводит к тому, что конечный потребитель значительно
          переплачивает Компаниям посредникам, а главное, не все посредники
          отдают должное отношение к качеству произведенных пластиковых окон на
          стороннем предприятии.
          Это часто приводит к тому, что найти ответственных лиц допустивших
          брак практически невозможно для конечного потребителя.
        </p>
      </div>
      <div id="item-2">
        <p>При заказе пластиковых конструкций стоит выбирать именно те компании,
          которые имеют собственное производство.</p>

      </div>
      <div id="item-3">
      </div>
      <div id="item-4">

      </div>
    </div>
  </div>

</section>
