<section id="fabrication-grid" class="fabrication-grid">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="fabrication-grid__container container">
    <h3 class="title fabrication-grid__title">
      Производство пластиковых окон в Иванове
    </h3>

    <div class="angry-grid">
      <div id="item-0">

      </div>
      <div id="item-1">

      </div>
      <div id="item-2">

      </div>
      <div id="item-3">
        <img src="../../images/grid (3).png" alt>
      </div>
      <div id="item-4">
        <img src="../../images/grid (1).png" alt>
      </div>
    </div>
  </div>

</section>
