<section id="stages" class="stages">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="stages__container container">

    <h3 class="title stages__title">Этапы производства пластиковых окон</h3>

    <p class="stages__descr">На собственном заводе по производству пластиковых
      окон, Мы уделяем особое отношение технологии производства пластиковых окон
      на каждом этапе.</p>

    <ul class="stages__list list-reset">

      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--01"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">01</span>
          <h4 class="stages__item-title">Раскрой
          </h4>
          <p class="stages__item-descr">Оператор получает задание из
            специализированной программы, которая показывает точные размеры всех
            элементов будущего окна.
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--02"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">02</span>
          <h4 class="stages__item-title">Армирование

          </h4>
          <p class="stages__item-descr">Станок нарезает заготовки профиля и
            металла в соответствии с размерами эскиза. Затем армирование
            вставляется в профиль и прикручивается саморезами
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--03"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">03</span>
          <h4 class="stages__item-title">Фрезеровка

          </h4>
          <p class="stages__item-descr">Станок просверливает отверстия для ручки
            и ренажных каналов
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--04"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">04</span>
          <h4 class="stages__item-title">Пайка
          </h4>
          <p class="stages__item-descr">заготовки с установленным армированием и
            готовыми отверстиями, спаивают под температурой ≈ 225°
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--05"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">05</span>
          <h4 class="stages__item-title">Зачистка
          </h4>
          <p class="stages__item-descr">необходимо зачистить углы специальным
            станком, после того как их спаяли
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--06"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">06</span>
          <h4 class="stages__item-title">Обработка
          </h4>
          <p class="stages__item-descr">станок фрезерует импост (поперечнина в
            окне) для того, для того, чтобы он был установлен в раму окна для
            для придания е жескости
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--07"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">07</span>
          <h4 class="stages__item-title">Фурнитура
          </h4>
          <p class="stages__item-descr"> оператор устанавливает на заготовку
            фурнитуру (металлический запор)
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--08"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">08</span>
          <h4 class="stages__item-title">Уплотнитель
          </h4>
          <p class="stages__item-descr">уплотнительная резина устанавливается на
            раму и створку
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--09"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">09</span>
          <h4 class="stages__item-title">Сборка
          </h4>
          <p class="stages__item-descr">в изделие вставляются стеклопакеты, они
            расклиниваются и после забивается штапик
          </p>
        </div>

      </li>
      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--10"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">10</span>
          <h4 class="stages__item-title">Доставка
          </h4>
          <p class="stages__item-descr">Готовые окна готовы к транспортировке
          </p>
        </div>

      </li>

    </ul>

  </div>

</section>
