<section id="fabrication" class="fabrication">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="fabrication__container container">
    <div class="crumbs">
      <a href="/">Главная</a>/
      <span>Производство</span>
    </div>

    <div class="fabrication__banner">
      <img src="./images/product.png" alt>

      <div class="fabrication__content">
        <h3 class="fabrication__banner-title">Производство Наше - Экономия Ваша!
        </h3>
        <p class="fabrication__banner-descr">Производство пластиковых окон в
          Иванове
        </p>
        <button class="fabrication__banner-btn btn-reset btn-site btn">Заказать
          окна</button>
      </div>

    </div>

  </div>

</section>
