<section id="stages" class="stages">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="stages__container container">

    <h3 class="title stages__title">Этапы производства пластиковых окон</h3>

    <p class="stages__descr">На собственном заводе по производству пластиковых
      окон, Мы уделяем особое отношение технологии производства пластиковых окон
      на каждом этапе.</p>

    <ul class="stages__list list-reset">

      <li class="stages__item">

        <div class="stages__item-left">
          <span class="stages__item-img stages__item-img--01"></span>
        </div>

        <div class="stages__item-box">
          <span class="stages__item-num">01</span>
          <h4 class="stages__item-title">Раскрой
          </h4>
          <p class="stages__item-descr">Оператор получает задание из
            специализированной программы, которая показывает точные размеры всех
            элементов будущего окна.
          </p>
        </div>

      </li>

    </ul>

  </div>

</section>
