<footer id="footer" class="footer">
  <div class="footer__container container">

    <ul class="footer__list list-reset">

      <li class="footer__item">
        <p class="footer__item-title">Общее</p>

        <ul class="footer__sublist list-reset">

          <li class="footer__sublitem">
            <a class="footer__link" href="#">О компании</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Блог</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Контакты</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Сотрудничество</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Акции</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Написать директору</a>

          </li>

        </ul>

      </li>
      <li class="footer__item">
        <p class="footer__item-title">Продукция</p>

        <ul class="footer__sublist list-reset">

          <li class="footer__sublitem">
            <a class="footer__link" href="#">Пластиковые окна</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Ремонт пластиковых окон</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Балконы и лоджии</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Пластиковые двери</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Аксессуары</a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Цены </a>

          </li>

        </ul>

      </li>
      <li class="footer__item">
        <p class="footer__item-title">Коллекции</p>

        <ul class="footer__sublist list-reset">

          <li class="footer__sublitem">
            <a class="footer__link" href="#">ОГРН: 1205400062240
            </a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">ИНН: 5401401746</a>

          </li>

        </ul>

      </li>
      <li class="footer__item">
        <p class="footer__item-title">Контакты</p>

        <ul class="footer__sublist list-reset">

          <li class="footer__sublitem">
            <address
              class="footer__address footer__link-icon footer__link-icon--geo">000000,
              г. Иваново,
              ул. Шубиных, д. 244, офис 3</address>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link footer__link-icon footer__link-icon--phone"
              href="tel:+79203432464">+7 (920) 343 24 64
            </a>

          </li>
          <li class="footer__sublitem">
            <a class="footer__link" href="#">Заказать звонок
            </a>

          </li>
          <li class="footer__sublitem">

            <ul class="social-list list-reset">

              <li class="social-list__item">
                <a class="social-list__link social-list__link-footer--tg"
                  href="https://vk.com/medvedevbn" target="_blank"
                  aria-label="ссылка на социальную сеть"></a>
              </li>

              <li class="social-list__item">
                <a class="social-list__link social-list__link-footer--vk"
                  href="https://vk.com/medvedevbn" target="_blank"
                  aria-label="ссылка на социальную сеть"></a>
              </li>

            </ul>

          </li>

        </ul>

      </li>

    </ul>

  </div>

</footer>
