<header id="header" class="header">

  <div class="container header__container">

    <a class="logo" href="#">
      <img class="logo__img" src="./images/icons/logo.svg" alt>
    </a>

    <nav class="nav" title="главное меню">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link link-kit">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link link-kit">Портфолио</a>
        </li>
        <li class="nav__item">
          <a href="#project" class="nav__link link-kit">Производство</a>
        </li>
        <li class="nav__item">
          <a href="#catalog" class="nav__link link-kit">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link link-kit">Контакты</a>
        </li>
      </ul>

    </nav>

    <div class="phone">
      <a class="phone__link" href="tel:+79203432464">+7 (920) 343 24 64</a>
      <button class="phone__btn btn-reset">
        Написать директору
      </button>
    </div>

    <button id="modal-button" class="btn btn-reset header__btn">Предварительный
      расчет</button>

  </div>

</header>
