<section class="hero">
  <h1 class="sr-only">Надежные пластиковые окна по выгодным ценам в Иванове и
    Области</h1>

  <div class="hero__container noselect">
    <div class="swiper mySwiper noselect">
      <div class="swiper-wrapper noselect">
        <div class="swiper-slide noselect">
          <img
            src="./images/banner-1.jpg"
            alt>
          <div class="swiper__content">
            <h2 class="title">Миссия компании</h2>
            <p class="swiper__descr">Наша миссия - довольные клиенты, готовые
              нас рекомендовать!</p>
            <button class="btn-reset btn-site">Заказать звонок</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/banner-2.jpg"
            alt>
          <div class="swiper__content">
            <h2 class="title">Миссия компании</h2>
            <p class="swiper__descr">Наша миссия - довольные клиенты, готовые
              нас рекомендовать!</p>
            <button class="btn-reset btn-site">Заказать звонок</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/banner-3.jpg"
            alt>
          <div class="swiper__content">
            <h2 class="title">Миссия компании</h2>
            <p class="swiper__descr">Наша миссия - довольные клиенты, готовые
              нас рекомендовать!</p>
            <button class="btn-reset btn-site">Заказать звонок</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/banner-4.jpg"
            alt>
          <div class="swiper__content">
            <h2 class="title">Миссия компании</h2>
            <p class="swiper__descr">Наша миссия - довольные клиенты, готовые
              нас рекомендовать!</p>
            <button class="btn-reset btn-site">Заказать звонок</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/banner-5.jpg"
            alt>
          <div class="swiper__content">
            <h2 class="title">Миссия компании</h2>
            <p class="swiper__descr">Наша миссия - довольные клиенты, готовые
              нас рекомендовать!</p>
            <button class="btn-reset btn-site">Заказать звонок</button>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

  </div>

  <div class="wrapper">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </div>

</section>
