<section id="history" class="history">
  <h2 class="sr-only">Пластиковые окна в Иванове и области: гарантия качества и
    надежности</h2>
  <div class="container history__container">

    <div class="history__content">
      <h3 class="history__title title">История компании</h3>
      <a class="history__link btn-site" href="#">История компании</a>
    </div>

    <ul class="history__list list-reset">

      <li class="history__item">
        <div class="history__age">2017</div>
        <p class="history__descr">Компания ABC Окна начала свой путь в
          Иванове в 2017 году под названием “Пластика для Окон"</p>
      </li>

      <li class="history__item">
        <div class="history__age">2021</div>
        <p class="history__descr">В 2021 году Компания произвела ребрендинг и
          изменила название на “ABC Окна”</p>
      </li>

      <li class="history__item">
        <div class="history__age">2022</div>
        <p class="history__descr">Компания является безоговорочным фаворитом в
          отрасли Производства, установки и ремонта пластиковых окон в
          Иванове и Ивановской области.</p>
      </li>

    </ul>

  </div>
</section>
