<section id="info" class="info">
  <h2 class="sr-only">Оконный производитель в Иванове предлагает разнообразные
    дизайны и формы</h2>
  <div class="info__container container">

    <ul class="info__list list-reset">

      <li class="info__item">
        <span class="info__img info__img--info-1"></span>
        <h3 class="info__title">Благотворительность</h3>
        <p class="info__descr">Регулярно наша Компания осуществляет производство
          и монтаж пластиковых окон на безвозмездной основе немалому количеству
          Общественных и Бюджетных организаций.

          Наша задача в благотворительности - быть примером для других
          организаций, благодаря чему Мы сможем помочь тысячам организаций и
          учреждений.
        </p>
        <a class="info__link btn-site" href="#">Подробнее</a>
      </li>
      <li class="info__item">
        <span class="info__img info__img--info-2"></span>
        <h3 class="info__title">Официальный партнер Компании VEKA</h3>
        <p class="info__descr">Пластиковые окна по праву считаются одними
          из лучших в мире.
          Предложения по продаже пластиковых окон слышны из сотни компаний
          Иванова и Ивановской области, учитывая это нужно проверить,
          действительно
          ли данные компании сертифицированы заводом.

        </p>
        <a class="info__link btn-site" href="#">Подробнее</a>
      </li>
      <li class="info__item">
        <span class="info__img info__img--info-3"></span>
        <h3 class="info__title">Производство</h3>
        <p class="info__descr">Наша Компания занимает лидирующие позиции в
          направлении производства пластиковых окон в Иванове и Ивановской
          области,
          что подтверждается ростом ежегодной производительности в объемах, в
          среднем - это
        </p>
        <h4 class="info__subtitle">+37% год от года</h4>
        <a class="info__link btn-site" href="#">Подробнее</a>
      </li>

    </ul>
  </div>

</section>
