<div class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-content">
    <button class="modal-close-btn">&times;</button>
    <form>
      <label for="name"></label>
      <input type="text" id="name" name="name" required
        placeholder="Введите ФИО">
      <label for="email"></label>
      <input type="email" id="email" name="email" required
        placeholder="Введите email">
      <label for="phone"></label>
      <input type="tel" id="phone" name="phone" required
        placeholder="Введите телефон">
      <label for="address"></label>
      <textarea id="address" name="address" rows="5" cols="30" required
        placeholder="Введите  адрес"></textarea>
      <button class="btn-site" type="submit">Отправить</button>
    </form>
  </div>
</div>
