<section id="requisites" class="requisites">
  <h2 class="sr-only">Качественные и экологичные окна из ПВХ в Иванове и области</h2>
  <h3 class="requisites__subtitle title">Контакты</h3>
  <div class="requisites__container container">

    <div class="requisites__contacts">
      <h4 class="requisites__title">Контакты «ABC Окна»</h4>
      <address
        class="requisites__address requisites__info requisites__info--geo">000000,
        г. Иваново,
        ул. Шубиных, д. 244, офис 3</address>
      <p class="requisites__info requisites__info--time">Понедельник - пятница
        с 9:00 до 17:00</p>

      <div class="requisites__email">
        <a class="requisites__link requisites__info requisites__info--email"
          href="mailto:info@r-okna.com">info@leha-manachkin.com</a>

      </div>

      <ul class="social-list list-reset">

        <li class="social-list__item">
          <a class="social-list__link social-list__link--tg"
            href="https://vk.com/medvedevbn" target="_blank"
            aria-label="ссылка на социальную сеть"></a>
        </li>

        <li class="social-list__item">
          <a class="social-list__link social-list__link--vk"
            href="https://vk.com/medvedevbn" target="_blank"
            aria-label="ссылка на социальную сеть"></a>
        </li>

      </ul>

    </div>
    <div class="requisites__map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A418b1e4a753d8bfa52293f399f9e977c6daf33475f8f719650f7cd109be08773&amp;source=constructor"
        width="100%" height="400" frameborder="0"></iframe>

    </div>

  </div>

</section>
