<section id="reviews" class="reviews">
  <h2 class="sr-only">Установка пластиковых окон в Иванове: профессиональные
    услуги и привлекательные цены</h2>
  <div class="container reviews__container">

    <div class="reviews__wrapper">

      <div class="reviews__content">
        <h3 class="reviews__title title">Отзывы клиентов</h3>
        <p class="reviews__content-descr">Стоит признать, что ежедневно в
          Компанию поступает от 40 до 70 обращений на замер и ремонт окон в
          Иванове и Ивановской области.
          <br>
          Что обусловлено безупречным качеством и высоким профессионализмом
          наших сотрудников, в качестве подтверждения - Клиенты оставляют нам
          немало положительных отзывов.

        </p>
        <button class="btn-reset btn-site">Смотреть все</button>
      </div>

      <ul class="reviews__list list-reset">

        <li class="reviews__item">
          <div class="reviews__item-top">
            <span class="reviews__item-top-img reviews__item-top-img--01"></span>
          </div>
          <div class="reviews__item-box">
            <p class="reviews__item-box-title">Ольга Олеговна</p>
            <p class="reviews__item-box-descr">За долгое время работы, мы обрели
              бесценный опыт который позволяет подстроиться под Ваши задачи:
              - Честная рассрочка! Внутри Компании, без процентов
            </p>
          </div>
        </li>

        <li class="reviews__item">
          <div class="reviews__item-top">
            <span class="reviews__item-top-img reviews__item-top-img--01"></span>
          </div>
          <div class="reviews__item-box">
            <p class="reviews__item-box-title">Ольга Олеговна</p>
            <p class="reviews__item-box-descr">За долгое время работы, мы обрели
              бесценный опыт который позволяет подстроиться под Ваши задачи:
              - Честная рассрочка! Внутри Компании, без процентов
            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>
