<section id="vacancy" class="vacancy">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="vacancy__container container">
    <div class="vacancy__content">
      <h3 class="vacancy__title title">Вакансии</h3>
      <p class="vacancy__content-descr">Главная причина большого количества
        достижений нашей Компании - сотрудники. Из года в год мы ставим новые
        амбициозные цели и задачи, по причине чего регулярно появляется
        необходимость в расширении штата сотрудников и открытии новых
        направлений Компании.
      </p>

      <button class="btn-reset btn-site">Смотреть все</button>
    </div>

    <div class="vacancy__images">

      <img class="vacancy__img" src="./images/book.png" alt>

    </div>

  </div>

</section>
