<section id="works-banner" class="works-banner">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="works-banner__container container">
    <div class="crumbs">
      <a href="/">Главная</a>/
      <span>Наши работы</span>
    </div>

    <div class="works-banner__banner">
      <!-- <img src="./images/product.png" alt> -->

      <div class="works-banner__content">
        <h3 class="works-banner__banner-title">Мы установили более 38 000
          изделий в
          Иванове и Области

        </h3>
        <p class="works-banner__banner-descr">Вы можете выбрать подходящий вид
          пластиковых окон для себя из Нашего портфолио.

        </p>
        <button class="works-banner__banner-btn btn-reset btn-site btn open-btn">Заказать
          окна</button>
      </div>

    </div>

  </div>

</section>
