<section id="works" class="works">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="works__container container">
    <h3 class="title works__title">Наши работы</h3>
    <div class="filter">
      <button class="filter-btn filter-btn--active btn-reset btn-site"
        data-filter="all">Все</button>
      <button class="filter-btn btn-reset btn-site" data-filter=".windows">Пластиковые
        окна</button>
      <button class="filter-btn btn-reset btn-site" data-filter=".doors">Балконы
        и лоджии</button>
      <button class="filter-btn btn-reset btn-site" data-filter=".bathrooms">Остекление
        коттеджей</button>

    </div>

    <ul class="gallery works__content list-reset" id="gallery">

      <li class="mix gallery__item windows">
        <img class="photo  big-photo"
          src="./images/plastic_windows/wind-1.png">

      </li>

      <li class="mix gallery__item windows">
        <img class="photo  big-photo"
          src="./images/plastic_windows/wind-2.png">

      </li>

      <li class="mix gallery__item windows">
        <img class="photo  big-photo"
          src="./images/plastic_windows/wind-3.png">

      </li>

      <li class="mix gallery__item windows">
        <img class="photo  big-photo"
          src="./images/plastic_windows/wind-4.png">

      </li>

      <li class="mix gallery__item windows">
        <img class="photo  big-photo"
          src="./images/plastic_windows/wind-5.png">

      </li>

      <li class="mix gallery__item windows">
        <img class="photo  big-photo"
          src="./images/plastic_windows/wind-6.png">

      </li>

      <li class="mix gallery__item doors">
        <img class="photo  big-photo"
          src="./images/plastic_windows/loggias-1.png">

      </li>
      <li class="mix gallery__item doors">
        <img class="photo  big-photo"
          src="./images/plastic_windows/loggias-2.png">

      </li>
      <li class="mix gallery__item doors">
        <img class="photo  big-photo"
          src="./images/plastic_windows/loggias-3.png">

      </li>
      <li class="mix gallery__item doors">
        <img class="photo  big-photo"
          src="./images/plastic_windows/loggias-4.png">

      </li>
      <li class="mix gallery__item doors">
        <img class="photo  big-photo"
          src="./images/plastic_windows/loggias-5.png">

      </li>

      <li class="mix gallery__item doors">
        <img class="photo  big-photo"
          src="./images/plastic_windows/loggias-6.png">

      </li>

      <li class="mix gallery__item bathrooms">
        <img class="photo  big-photo"
          src="./images/plastic_windows/glazing_сottages-1.png">

      </li>
      <li class="mix gallery__item bathrooms">
        <img class="photo  big-photo"
          src="./images/plastic_windows/glazing_сottages-2.png">

      </li>
      <li class="mix gallery__item bathrooms">
        <img class="photo  big-photo"
          src="./images/plastic_windows/glazing_сottages-3.png">

      </li>
      <li class="mix gallery__item bathrooms">
        <img class="photo  big-photo"
          src="./images/plastic_windows/glazing_сottages-4.png">

      </li>
      <li class="mix gallery__item bathrooms">
        <img class="photo  big-photo"
          src="./images/plastic_windows/glazing_сottages-5.png">

      </li>
      <li class="mix gallery__item bathrooms">
        <img class="photo  big-photo"
          src="./images/plastic_windows/glazing_сottages-6.png">

      </li>



    </ul>

  </div>


  </div>

</section>

<!-- <img class="photo windows" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo doors" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo bathrooms" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo windows" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo doors" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo bathrooms" src="./images/plastic_windows/wind-1 (6).png"> -->
