<section id="works" class="works">
  <h2 class="sr-only">Шумоизоляция и теплоизоляция: преимущества пластиковых
    окон в Иванове</h2>
  <div class="works__container container">
    <h3 class="title works__title">Наши работы</h3>
    <div class="filter">
      <button class="filter-btn filter-btn--active btn-reset btn-site"
        data-filter="all">Все</button>
      <button class="filter-btn btn-reset btn-site" data-filter="windows">Пластиковые
        окна</button>
      <button class="filter-btn btn-reset btn-site" data-filter="doors">Балконы
        и лоджии</button>
      <button class="filter-btn btn-reset btn-site" data-filter="bathrooms">Остекление
        коттеджей</button>

    </div>

    <div class="gallery" id="gallery">
      <img class="photo windows big-photo"
        src="./images/plastic_windows/wind-1.png">
      <img class="photo windows big-photo"
        src="./images/plastic_windows/wind-2.png">
      <img class="photo windows big-photo"
        src="./images/plastic_windows/wind-3.png">
      <img class="photo windows big-photo"
        src="./images/plastic_windows/wind-4.png">
      <img class="photo windows big-photo"
        src="./images/plastic_windows/wind-5.png">
      <img class="photo windows big-photo"
        src="./images/plastic_windows/wind-6.png">

     
    </div>

  </div>

  
  </div>

</section>

<!-- <img class="photo windows" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo doors" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo bathrooms" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo windows" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo doors" src="./images/plastic_windows/wind-1 (6).png">
<img class="photo bathrooms" src="./images/plastic_windows/wind-1 (6).png"> -->
